
<section>
    <div class="div-points">
        <h1>5555</h1>
        <h4>RecyCoins</h4>
    </div>
</section>
<hr>
<div class="div-line-cards">
    <div class="div-cards">
        <img src="../../static/assets/gift-cards/GPLAY.png" alt="">
        <h3>1000 RYC</h3>
        <button type="submit" class="btn btn-success mt-5 btn-lg rounded-5">RESGATAR</button>
    </div>
    <div class="div-cards">
        <img src="../../static/assets/gift-cards/PS.png" alt="">
        <h3>2000 RYC</h3>
        <button type="submit" class="btn btn-success mt-5 btn-lg rounded-5">RESGATAR</button>
    </div>
    <div class="div-cards">
        <img src="../../static/assets/gift-cards/XBOX.png" alt="">
        <h3>2000 RYC</h3>
        <button type="submit" class="btn btn-success mt-5 btn-lg rounded-5">RESGATAR</button>
    </div>
    <div class="div-cards">
        <img src="../../static/assets/gift-cards/PS.png" alt="">
        <h3>2000 RYC</h3>
        <button type="submit" class="btn btn-success mt-5 btn-lg rounded-5">RESGATAR</button>
    </div>
</div>
<div class="div-line-cards">
    <div class="div-cards">
        <img src="../../static/assets/gift-cards/UBER.png" alt="">
        <h3>1000 RYC</h3>
        <button type="submit" class="btn btn-success mt-5 btn-lg rounded-5">RESGATAR</button>
    </div>
    <div class="div-cards">
        <img src="../../static/assets/gift-cards/PS.png" alt="">
        <h3>2000 RYC</h3>
        <button type="submit" class="btn btn-success mt-5 btn-lg rounded-5">RESGATAR</button>
    </div>
    <div class="div-cards">
        <img src="../../static/assets/gift-cards/UBER.png" alt="">
        <h3>2000 RYC</h3>
        <button type="submit" class="btn btn-success mt-5 btn-lg rounded-5">RESGATAR</button>
    </div>
    <div class="div-cards">
        <img src="../../static/assets/gift-cards/IFOOD.png" alt="">
        <h3>2000 RYC</h3>
        <button type="submit" class="btn btn-success mt-5 btn-lg rounded-5">RESGATAR</button>
    </div>
</div>