{% load static %}

<div>
    <h1>Ranking</h1>
    <p>Este é o conteúdo do ranking.</p>
    <div class="container mt-4">
        <h2 class="text-center">Ranking de Pontuação</h2>
        
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>João</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ana</td>
                    <td>950</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Carlos</td>
                    <td>900</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Maria</td>
                    <td>850</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Lucas</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Rita</td>
                    <td>750</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Paulo</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Julia</td>
                    <td>650</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Fernanda</td>
                    <td>600</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Felipe</td>
                    <td>550</td>
                </tr>

                <tr class="table-info">
                    <td>11</td>
                    <td><strong>Você</strong></td>
                    <td><strong>500</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
