@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Press Start 2P", system-ui;
  font-size: 0.70rem;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assets/bg.png');
  background-size: cover;
  /* Cobre toda a área */
  background-position: center;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Não repete a imagem */
}

.container-fluid {
  color: purple
}


.map-border {
  /*border: 5px solid #01C09A;*/
  /* Verde reciclável */
  border-color: red;
  border: 3px solid;
  box-shadow: 0 5px 20px #000000;
  border-radius: 25px;
  /* Valor que torna as bordas mais circulares */
  overflow: hidden;
  /* Arredondar bordas, se desejado */
}

.map {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo {
  margin: 20px;
  width: 55%;
}

.btn-sample {
  color: #ffffff;
  background-color: #E54C3C;
  border-color: #FFAAA1;
}

.btn-sample .badge {
  color: #E54C3C;
  background-color: #ffffff;
}

.nav-item a {
  font-size: 1.3rem;
}

.coluna {
  background-color: #ffff;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 100%;
}

.coluna-central {
  background-color: #ffff;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 10px 0px;
  max-width: 100%;
}

.navbar-profile {
  background-color: #E54C3C;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coluna-central .navbar-profile>a {
  color: #ffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 10px;
  padding: 10px;
}

.coluna-central .navbar-profile>a:hover {
  color: #77a54f;
}

.nav-item a {
  transition: 0.3s;
  color: #01C09A;
}

.div-points {
  display: flex;
  justify-content: left;
  margin: 15px 15px 0px 15px
}

.div-points h5 {
  position: relative;
  top: 15px;
  margin-left: 10px;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff;
  background-color: #FFAF87;
  border-color: #FFAAA1;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #E54C3C;
  border-color: #FFAAA1;
}

.box {
  margin: 2rem auto;
  max-width: 40ch;
  border: 15px solid #000000;
  color: #000000;
  padding: 2ch;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H8v4H4v4H0v8h4v4h4v4h8v-4h4v-4h4V8h-4V4h-4V0zm0 4v4h4v8h-4v4H8v-4H4V8h4V4h8z' fill='%23000'/%3E%3C/svg%3E") 8 stretch;
}

