@import url("https://fonts.cdnfonts.com/css/sf-new-republic");

* {
  font-family: "SF New Republic", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assets/bg2.gif'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Cobre toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
}

.container-fluid {
  color: purple
}

.map-border {
  /*border: 5px solid #01C09A;*/
  /* Verde reciclável */
  border-color: red; box-shadow: 0 5px 20px #01C09A;
  border-radius: 25px; /* Valor que torna as bordas mais circulares */
  overflow: hidden;
  /* Arredondar bordas, se desejado */
}

.map{
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  padding: 20px;
  background-color: lightcoral; /* Apenas para visualização */

}
.conteudo {
  margin: 20px;
  width: 55%;
}


.btn-sample {
  color: #ffffff;
  background-color: #E54C3C;
  border-color: #FFAAA1;
}

.btn-sample .badge {
  color: #E54C3C;
  background-color: #ffffff;
}

.nav-item a {
  font-size: 1.4rem;
}

.nav-item a{
  transition: 0.3s;
  color: #01C09A;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff;
  background-color: #FFAF87;
  border-color: #FFAAA1;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #E54C3C;
  border-color: #FFAAA1;
}