{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | RecycleByte</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  
  <header>
    <nav class="navbar navbar-expand-lg bg-white shadow p-3 mb-5 bg-body rounded">
      <div class="container-fluid">
        <!--Menu com LOGO-->
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'assets/logo/LOGOTIPO.png' %}" alt="Logo" width="120px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="profile.html">Como Reciclar ♻️</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Notícias
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Eventos</a></li>
                <li><a class="dropdown-item" href="#">Alguma coisa aqui</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Alguma outra coisa aqui</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Apoie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre</a>
            </li>
          </ul>
          <form class="d-flex">
            
                  
              
                  <a class="btn btn-warning me-3 btn-lg" href="{% url 'cadastro' %}">Cadastre-se</a>
                  <a class="btn btn-outline-warning me-5 btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    href="{% url 'profile' %}">Login</a>
            
          </form>
        </div>
      </div>
    </nav>
  </header>

  <!--MODAL LOGIN-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Faça seu Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="container justify-content-center align-items-center">
            <div class="content">
              <div class="card mb-3" id="card"
                style=" border: 0.5px solid; border-radius: 10px;  border-color: #E54C3C;">
                <div class="row g-0">
                  <div class="col-md-0">

                  </div>
                  <div class="col-md-0">
                    <form action="login" method="post">
                      <div class="card-body">
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Email:</label>
                          <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="exemplo@email.com.br" style="border-color: #E54C3C;">
                        </div>
                        <div class="mb-3">
                          <label for="exampleFormControlTextarea1" class="form-label">Senha:</label>
                          <input type="password" name="senha" class="form-control" id="exampleFormControlTextarea1"
                            placeholder="digite sua senha" style="border-color: #E54C3C;">

                        </div>
                        <div style="text-align: end;">
                          <a href="esquecisenha">
                            <p>Esqueceu sua senha?</p>
                          </a>
                        </div>
                        <div class="d-grid gap-2">
                          <a href="{% url 'profile' %}" class="btn btn-sample" id="btEnviar" type="submit" name="submit">Entrar</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
          
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="banner">
      {% block coluna_esquerda %} <!-- 25% da largura para a coluna esquerda -->
        <h1>Coluna Esquerda</h1>
        <p>Conteúdo da coluna esquerda.</p>
        
        {% endblock %}
    </div>
    <div class="conteudo">
        {% block conteudo %}
        <h2>Conteúdo Principal</h2>
        <p>Aqui vai o conteúdo principal da página.</p>
        {% endblock %}
    </div>
    <div class="banner">
      {% block coluna_direita %} <!-- 25% da largura para a coluna direita -->
        <h1>Coluna Direita</h1>
        <p>Conteúdo da coluna direita.</p>
        
        {% endblock %}
    </div>
</div>

  <footer class="bg-body-tertiary text-center">
    <div class="container p-4"></div>
    <div class="text-center p-3" style="background-color: rgba(255, 255, 255);">
      © 2024 - RecycleByte - Todos os direitos reservados
      <a class="text-body" href="https://mdbootstrap.com/">DSM</a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>
</html>