{% extends 'base.html' %}
{% load static %}
{% block titulo %} Perfil | RecycleByte {% endblock %}
{% block bg %}
    style="background-image: url('{% static 'assets/bg3.png' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"
{% endblock %}

{% block coluna_esquerda %}
    <h3>Bem vindo </h3>
    <h2 style="color:rgb(0, 0, 0);">{{username}}</h2>
    <div class="profile-container text-center" style="position: relative; display: inline-block;">
      <!-- Imagem de perfil -->
      <img src="{% static 'assets/profile1.png' %}" alt="Foto do perfil" class="bg-secondary"
           style="width: 100%; border-radius: 50%; border: 5px solid;">
      
      <!-- Ícone de editar -->
      <a href="{% url 'profile' conteudo='profile_edit' %}" class="nav-link"
         style="position: absolute; bottom: 5px; left: 5px; background-color: rgb(255, 212, 94); border-radius: 50%; padding: 5px;">
          <img style="width: 30px; height: 30px;" src="{% static 'assets/edit_icon.png' %}" alt="Editar">
      </a>
  </div>
  

    <div class="container mt-3">
        <p>Barra de Progresso</p>
        <div class="progress" style="height: 2vh;">
            <div
                id="progress-bar"
                class="progress-bar"
                role="progressbar"
                style="width: {{ xp }}%;"
                aria-valuenow="{{ xp }}"
                aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>
        <h2 id="level-counter" class="mt-3">Nível: {{ nivel }}</h2>
    </div>
    
    <!-- Botão para adicionar reciclagem -->

    <button class="btn btn-success m-4 btn-lg rounded-5" data-bs-toggle="modal" data-bs-target="#ModalReciclagem">
        Adicionar Reciclagem
    </button>


    <!-- MODAL ADD RECICLAGEM -->
  <div class="modal fade" id="ModalReciclagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border border-5 border-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Preencha os campos:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container justify-content-center align-items-center">
            <div class="content">
              <div class="card mb-3" id="card"
                style="max-width: 540px; border: 0.5px solid; border-radius: 10px;  border-color: #E54C3C;">
                <div class="row g-0">
                  <div class="col-md-4">
                  </div>
                  <div class="col-md-0">
                    <form action="{% url 'increase_xp' %}" method="post" id="xp-form">
                        {% csrf_token %}
                      <div class="card-body w-100">
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Material:</label>
                          <input type="text" name="nome" class="form-control" id="exampleFormControlInput1"
                            placeholder="">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Descriçao:</label>
                          <input type="text" name="descricao" class="form-control" placeholder="" required>
                          <div class="text-danger"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Quantidade:</label>
                            <input type="text" name="quantidade" class="form-control" placeholder="" required>
                            <div class="text-danger"></div>
                        </div>
        
                        <div class="d-grid gap-2">
                          <button class="btn btn-success" style="border-color: #019b1b;" id="btEnviar" type="submit" id="increase-btn"
                            name="submit">Adicionar Reciclagem</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Botão para sair -->
    <a class="btn btn-warning me-3 btn-lg mt-auto m-4 rounded-5" href="{% url 'logout' %}">Sair</a>
    
    <!-- Script -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const progressBar = document.getElementById('progress-bar');
            const increaseBtn = document.getElementById('increase-btn');
            const levelCounter = document.getElementById('level-counter');
            const xpForm = document.getElementById('xp-form');
    
            let currentLevel = {{ nivel|default:0 }};
            let currentXP = {{ xp|default:0 }};
    
            // Atualiza o contador de nível e a barra de progresso com base nos valores iniciais
            levelCounter.textContent = 'Nível: ' + currentLevel;
            progressBar.style.width = currentXP + '%';
    
            increaseBtn.addEventListener('click', function(event) {
                event.preventDefault();  // Impede o comportamento padrão do botão (enviar formulário imediatamente)
    
                // Envia o formulário para a view que irá incrementar o XP
                xpForm.submit();
            });
        });
    </script>
{% endblock %}

{% block conteudo %}
<div class="coluna-central">
    <nav class="navbar-profile">
        <a href="{% url 'profile' conteudo='resumo' %}" class="nav-link">Resumo</a>
        <a href="{% url 'profile' conteudo='loja' %}" class="nav-link">Loja</a>
        <a href="{% url 'profile' conteudo='ranking' %}" class="nav-link">Ranking</a>
    </nav>

    {% if conteudo == 'resumo' %}
        {% include 'profile_tabs/resumo.html' %}
    {% elif conteudo == 'loja' %}
        {% include 'profile_tabs/loja.html' %}
    {% elif conteudo == 'ranking' %}
        {% include 'profile_tabs/ranking.html' %}
    {% elif conteudo == 'profile_edit' %}
        {% include 'profile_tabs/profile_edit.html' %}
    {% endif %}
</div>
{% endblock %}

{% block coluna_direita %}
    <h3>Conquistas</h3>
    <div>
        <div class="d-flex justify-content-center">
            <img src="{% static 'assets/badges/badge-1.jpeg' %}" alt="" width="70px">
            <img src="{% static 'assets/badges/badge-2.jpeg' %}" alt="" width="70px">
            <img src="{% static 'assets/badges/badge-3.jpeg' %}" alt="" width="70px">
        </div>
        <div class="d-flex justify-content-center">
            <img src="{% static 'assets/badges/badge-4.jpeg' %}" alt="" width="70px">
            <img src="{% static 'assets/badges/badge-5.jpeg' %}" alt="" width="70px">
            <img src="{% static 'assets/badges/badge-6.jpeg' %}" alt="" width="70px">
        </div>
        <div class="d-flex justify-content-center">
          <img src="{% static 'assets/badges/badge-1.jpeg' %}" alt="" width="70px">
          <img src="{% static 'assets/badges/badge-2.jpeg' %}" alt="" width="70px">
          <img src="{% static 'assets/badges/badge-3.jpeg' %}" alt="" width="70px">
        </div>
        <div class="d-flex justify-content-center">
          <img src="{% static 'assets/badges/badge-4.jpeg' %}" alt="" width="70px">
          <img src="{% static 'assets/badges/badge-5.jpeg' %}" alt="" width="70px">
          <img src="{% static 'assets/badges/badge-6.jpeg' %}" alt="" width="70px">
        </div>
        <div class="d-flex justify-content-center">
            <img src="{% static 'assets/badges/badge-quest.png' %}" alt="" width="70px">
            <img src="{% static 'assets/badges/badge-quest.png' %}" alt="" width="70px">
            <img src="{% static 'assets/badges/badge-quest.png' %}" alt="" width="70px">
        </div>
    </div>
{% endblock %}


