{% extends 'base.html' %}

{% block conteudo %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-3" style="background-color: bisque;">
            <div class="column">1</div>
        </div>
        <div class="col-md-3">
            <div class="column" style="background-color: rgb(247, 92, 31);">2</div>
        </div>
        <div class="col-md-3">
            <div class="column" style="background-color: rgb(80, 112, 255);">3</div>
        </div>
        <div class="col-md-3" style="width: 250px; height: 600px; background-color: green;">
            <div class="column">4</div>
        </div>
    </div>
</div>

{% endblock %}